@import url("https://use.typekit.net/yfu3hav.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #312D53;
  background-image: url('https://images.unsplash.com/photo-1475738972911-5b44ce984c42?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: bottom;
  display: grid;
  grid-template-columns: 60vw 1fr;
}

main {
  grid-column: 2;
  background: white;
  height: 100vh;
  border-radius: 32px 0 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main div {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
}

header img {
  height: 30px;
  margin: 50px;
}

h1{
  font-family: effra, sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #381DFF;
}

a {
  font-weight: 700;
  font-size : 18px;
  font-family: effra, sans-serif;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  min-width: 350px;
    transition: filter 0.15s ease-in-out;
}

a:hover, a:focus {
  filter: brightness(0.9);
  transition: filter 0.15s ease-in-out;
}

#login, #register {
  padding: 20px 64px;
  border-radius: 64px;
}

#register {
  background-color: #381DFF;
  border : 1px solid #381DFF;
  color: white;
  margin-bottom: 24px;
}

#login {
  border: 1px solid #381DFF;
  background-color: white;
  color: #381DFF;
}

h2 {
  font-size: 32px;
  color: #381DFF;
  margin-bottom: 64px;
}



h2, p {
  font-family: effra, sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
}
